body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
	padding: 8px;
  margin: 16px auto;
}

.title {
	font-size: 16px;
	padding: 8px;
  background: #e3f4ff;
	margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
	padding: 16px 8px;
	margin-bottom: 8px;
}

.button-container {
	text-align: center;
  background: #e3f4ff;
	padding: 8px;
}

button {
	display: block;
	padding: 8px 16px;
	margin: 0 auto;
  background: white;
  border: 1px solid #eee;
}